/* Write your CSS code here */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main-container {
  margin: 15px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  margin: 15px 0px;
  font-size: 40px;
  font-family: Roboto;
}
